



body{
    display:  flex;
    align-items: center;
    justify-content: center;

}

#card{
    background-color:  white;
    padding: 20px 40px;
    border-radius: 10px;
    text-align:  center;
}

h1{
    color:aqua;
    
}


h5{
    color:  red;
    margin-top: 10px;
}

/* #box{
    height: 200px;
    width: 200px;
    background-color: cadetblue;
    font-size: 20px;
} */

button{
    color: black;
    padding: 3px;
}



